<!-- String interpolation -->
<h1>{{ title }}</h1>
<!-- Property Binding -->
<div class="mt-2 p-4">
  <img [src]="imgUrl" class="im" alt="Some Image" />
</div>
<div class="mt-2 p-4">
  <button class="btn btn-outline-primary btnClass." (click)="primaryClicked()">
    Click here
  </button>
  <button class="btn btn-outline-warning btnClass" (click)="warningClicked()">
    Click here
  </button>
  <button class="btn btn-outline-danger" (click)="dangerClicked()">
    Click here
  </button>
</div>
<p class="{{bgColor}}"  >{{ message }}</p>


<input
  type="inputValue"
  [(ngModel)]="inputValuee"
  class="form-control"
  aria-label="Small"
  aria-describedby="inputGroup-sizing-sm"
/>
<div>
  <button (click)="onClick()" class="btn btn-outline-dark save">Save</button>
</div>

<p>{{ submittedValue }}</p>
<button
  (click)="clear()"
  class="btn btn-success m-4"
  [disabled]="visibilityOfClear()"
>
  ClearInput
</button>
<button
  (click)="this.submittedValue = ''"
  class="btn btn-secondary"
  [disabled]="visibilityOfClearText()"
>
  ClearText
</button>
