<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://static.toiimg.com/photo/msid-95062568/95062568.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.gettyimages.com/id/1012037708/photo/india-batsman-virat-kohli-celebrates-his-century-during-day-two-of-the-first-specsavers-test.jpg?s=612x612&w=0&k=20&c=AjTr3jyDFddroerHCN_zoKnLLnGBhnBMpfMG1ZeI1_Q=" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.gettyimages.com/id/1436938531/photo/virat-kohli-of-india-bats-during-the-icc-mens-t20-world-cup-match-between-india-and.jpg?s=612x612&w=0&k=20&c=j_ThJwezNrjJjMAKF-NUckx2S1Z_m1A3wmT_mtPgyy4=" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>